<div class="card tutorial-card col-md-4 p-4 border-0">
  <a href="{{ include.tutorial.url }}" class="inline-block">
    <div class="card-body d-flex flex-column justify-content-between shadow-sm">
      <h5 class="card-title">{{ include.tutorial.title }}</h5>

      <div class="tutorial-card-info d-flex justify-content-between">
        <div class="tutorial-duration">
          <i class="fa-regular fa-clock text-danger mr-1"></i><span>{{ include.tutorial.duration }}</span>
        </div>
        <div class="tutorial-author">
          <i class="fa-solid fa-user-pen text-danger mr-1"></i>{{ include.tutorial.author }}</span>
        </div>
      </div>
      <div class="tutorial-tags">
        {% for tag in include.tutorial.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
  </a>
</div>
