---
layout: default
title: Home
permalink: /
page_name: home
---

{% include home/bootcamps.html %}
{% include home/become-member.html %}
<!-- community weekly calender -->
<div class="community-weekly-calender section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <img src="{{ site.asset_base_url }}/img/community-calendar.jpg"
          class="img-fluid" alt="Dhanu Sir Community Calender">
      </div>
    </div>
  </div>
</div>
{% include home/stay-connected.html %}
{% include home/courses.html %}
{% include home/tutorials.html %}
{% include home/blogs.html %}
{% include home/about-mentor.html %}
{% include home/join-channel.html %}
