---
layout: default
title: Complete DevOps and Cloud Engineer Bootcamp
permalink: /bootcamp/devops-and-cloud/
page_name: bootcamps
thumbnail: bootcamp/devops-and-cloud.jpg
---

<div class="bootcamps-page">

  <!-- page header -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 overview">
          <h1 class="section-heading pb-4">{{ page.title }}</h1>

          <p>
            {% include util/embed-youtube.html id="wSD10uzdgYM" %}
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- partner banner -->
  <section class="partner-banner section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="wrapper">
            <h2 class="caption">
              This Bootcamp is brought to you in partnership with
              CloudYuga Technologies.
            </h2>
            <p class="sub-caption">
              CloudYuga provides quality training in the Cloud Technolgies
              and make it simplify with Hands-on Labs Learning
              experience.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <img src="{{ site.asset_url }}/img/cloudyuga.jpg"
          class="img-fluid partner-logo" alt="Partner CloudYuga">
          <p class="text-center">
            <a href="https://cloudyuga.guru" target="_blank" class="text-white">www.cloudyuga.guru</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootcamp Curriculum -->
  <section class="bg-light-blue section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-subheading font-weight-bold">Bootcamp Curriculum</h2>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-md-10">
          <div class="section-wrapper">
            <div class="accordion curriculum mt-4" id="phase3Accordion">
              <!-- Linux -->
              <div class="card curriculum-module">
                <div class="card-header ps-2" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left no-decoration"
                      type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h4 class="module-name mb-0">
                        <i class="fa fa-plus me-2 me-2"></i>
                        <span class="module-txt">
                          Module 1: Linux Fundamentals
                        </span>
                      </h4>
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#phase3Accordion">
                  <div class="card-body">
                    <ul>
                      <li>Operating System Overview</li>
                      <li>Introduction to Linux</li>
                      <li>Linux Commands</li>
                      <li>Text Editors and Tmux</li>
                      <li>Linux Filesystem</em></li>
                      <li>Package Management</li>
                      <li>Managing Linux Services</li>
                      <li>Linux Processes</li>
                      <li>Networking Overview & Commands</li>
                      <li>System Security</li>
                    </ul>
                    <h5>
                      Practical Includes
                    </h5>
                    <ul class="practicals">
                      <li>Install Ubuntu in VirtualBox or Laptop</li>
                      <li>Install the Vim Editor</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Git & GitHub -->
              <div class="card curriculum-module">
                <div class="card-header ps-2" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left no-decoration collapsed"
                      type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h4 class="module-name mb-0"><i class="fa fa-plus me-2"></i>Module 2: Version control with Git and GitHub</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#phase3Accordion">
                  <div class="card-body">
                    <ul>
                      <li>Introduction to Git and GitHub</li>
                      <li>Installation and Setting it Up</li>
                      <li>First Change with Git</li>
                      <li>Git Workflow and Commands</li>
                      <li>Working with Git Branches</li>
                      <li>Working with GitHub</li>
                      <li>Git and GitHub Adavnced Concepts</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Bash -->
              <div class="card curriculum-module">
                <div class="card-header ps-2" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h4 class="module-name mb-0"><i class="fa fa-plus me-2"></i>Module 3: Bash Scripting</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#phase3Accordion">
                  <div class="card-body">
                    <ul>
                      <li>Understanding Shell and Bash</li>
                      <li>Introduction to Bash Scripting</li>
                      <li>Input, Output and Error Redirection</li>
                      <li>Conditionals Statements</li>
                      <li>Operators</li>
                      <li>Loops</li>
                      <li>Functions</li>
                      <li>User Inputs and Command Line Arguments</li>
                      <li>Exit Status and Return Codes</li>
                      <li>Logging</li>
                      <li>Debugging</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- DevOps and Cloud Computing -->
              <div class="card curriculum-module">
                <div class="card-header ps-2" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      <h4 class="module-name mb-0"><i class="fa fa-plus me-2"></i>Module 4: Introduction to DevOps and Cloud Computing</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#phase3Accordion">
                  <div class="card-body">
                    <ul>
                      <li>Introduction to DevOps</li>
                      <li>Introduction to Cloud Computing</li>
                      <li>Job Roles and Responsibilities</li>
                      <li>Cloud Deployment Models</li>
                      <li>Cloud Services Models</li>
                      <li>Cloud Building Blocks</li>
                      <li>Introduction to Microservices</li>
                      <li>Introduction to Vagrant</li>
                      <li>Infrastructure as a Code
                        <ul>
                          <li>Ansible</li>
                          <li>Terraform</li>
                        </ul>
                      </li>
                      <li>CI/CD
                        <ul>
                          <li>Jenkins</li>
                          <li>CI/CD with GitHub Actions</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Container and Docker -->
              <div class="card curriculum-module">
                <div class="card-header ps-2" id="headingFive">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <h4 class="module-name mb-0"><i class="fa fa-plus me-2"></i>Module 5: Introduction to Container and Docker</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#phase3Accordion">
                  <div class="card-body">
                    <ul>
                      <li>Introduction and Setup</li>
                      <li>Introduction to Container</li>
                      <li>Getting Started with Docker</li>
                      <li>Container Operations using Docker</li>
                      <li>Container images using Docker</li>
                      <li>Network Management with Docker</li>
                      <li>Storage Management with Docker</li>
                      <li>Docker Compose to Deploy Multi-container App</li>
                      <li>Docker APIs</li>
                      <li>Extra Useful Information
                        <ul>
                          <li>Containerd and ctr</li>
                          <li>Podman</li>
                        </ul>
                      </li>
                      <li>CI/CD
                        <ul>
                          <li>Jenkins</li>
                          <li>CI/CD with GitHub Actions</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Kubernetes -->
              <div class="card curriculum-module">
                <div class="card-header ps-2" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      <h4 class="module-name mb-0"><i class="fa fa-plus me-2"></i>Module 6: Introduction to Kubernetes</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#phase3Accordion">
                  <div class="card-body">
                    <ul>
                      <li>Introduction and Setup</li>
                      <li>Kubernetes Core Concepts</li>
                      <li>Application Lifecycle Management</li>
                      <li>Services and Networking</li>
                      <li>Additional Content</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Interview Preparation -->
              <div class="card curriculum-module">
                <div class="card-header ps-2" id="headingSeven">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                      <h4 class="module-name mb-0"><i class="fa fa-plus me-2"></i>Module 7: Self-marketing, Soft Skills and Interview Preparation</h4>
                    </button>
                  </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#phase3Accordion">
                  <div class="card-body">
                    <ul>
                      <li>Developer Portfolio Website</li>
                      <li>Blogging like a Developer</li>
                      <li>GitHub Account Building</li>
                      <li>Building LinkedIn Portfolio</li>
                      <li>Interview Preparation
                        <ul>
                          <li>Mock Interview</li>
                          <li>CV Building</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- certificate and testimonial -->
  <div class="certificate section-padding">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="section-subheading font-weight-bold mb-4">Get Certified</h2>
          <img src="{{ site.asset_url }}/img/certs/devops-and-cloud-engineer.jpg"
          class="img-fluid" alt="Dhanu Sir Community Calender">
        </div>
        <div class="col-md-6">
          <h2 class="section-subheading font-weight-bold mb-4 mt-4">Student Words</h2>
          {% include util/embed-youtube.html id="7oTRegomSow" %}
          <p class="text-center">
            <h5 class="text-center color-primary">CSIT Graduate 2022</h5>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- mentor tech support -->
  <div class="bg-light-blue mentor-tech-support section-padding">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          {% include util/embed-youtube.html id="LXQ6-Z2slZw" %}
        </div>
        <div class="col-md-6 text-wrapper">
          <h1 class="section-heading text-start">Mentor Tech Support</h1>
          <h4 class="section-subheading">
            Get quick LIVE support from mentor on problems where you stuck.
            Learn something new in the process.
          </h4>
          <ul class="features">
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              <span class="feature-item-txt">
                One of the BEST learning method
              </span>
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              <span class="feature-item-txt">
                On the spot LIVE support
              </span>
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Chance to learn the style and attitude of mentor
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Your instructor -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-subheading">Your Instructor and Mentor</h2>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-md-10">
          <div class="section-wrapper">
            <p>
              The instructor for this bootcamp is <strong>Budh Ram Gurung</strong>.
              He is also known as <b>Dhanu Sir</b>.
              He is a <em>Career Growth Coach, IT Coach, Life Coach, and an Entrepreneur.</em>

              <div class="para-caption mb-0">
                He has been teaching independently from 2019 and helping students in
                developing skills required for IT industry job.<br>
                <br>
                Previously, he has worked as software developer ranging from
                <span class="color-secondary"><em>startups to MNC</em></span>
                and has around <span class="color-secondary"><em>~12 Years of IT experience</em></span>.<br>
                He had profound knowledge on ...
                <a href="/about/"><span class="color-primary text-decoration-underline">Read More</span></a>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Target job positions -->
  <section class="bg-light-blue section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-subheading">Target Job Positions</h2>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-md-8">
          <div class="section-wrapper">
            <h4>
              After completion of this bootcamp, you should have enough technical knowledge to
              work in the following positions:
            </h4>

            <ul>
              <li>Junior DevOps Engineer</li>
              <li>Junior Cloud Engineer</li>
              <li>Junior System Engineer</li>
              <li>Freelance DevOps Engineer</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootcamp fees, duration and other details -->
  <section id="key-details" class="section-padding pb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-subheading">Bootcamp Key Details</h2>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-md-9">
          <table class="table table-striped table-hover">
            <tbody>
              <tr>
                <th scope="row">Format</th>
                <td>Online Interactive</td>
              </tr>
              <tr>
                <th scope="row">Prerequisites</th>
                <td>
                  Laptop with Ubuntu Linux Installed or Windows Laptop with 4 GB.
                </td>
              </tr>
              <tr>
                <th scope="row">Fees</th>
                <td><span class="text-decoration-line-through">Rs 40,000</span> Rs25,000 (First Batch Offer Only)</td>
              </tr>
              <tr>
                <th scope="row">Duration</th>
                <td>6 - 9 Months, 2 Sessions per week, 1 Hr per Session, One Practice Week per Month</td>
              </tr>
              <tr>
                <th scope="row">Batch Size</th>
                <td>30 students</td>
              </tr>
              <tr>
                <th scope="row">Workflow</th>
                <td>Theory &rarr; Practical &rarr; Assignment &rarr; Feedback</td>
              </tr>
              <tr>
                <th scope="row">Other Benefits</th>
                <td>Mentor Support to resolve issues</td>
              </tr>
              <tr>
                <th scope="row">Key Features</th>
                <td>Practical. Feedback Oriented. Job Oriented.</td>
              </tr>
              <tr>
                <th scope="row">Support</th>
                <td>Bootcamp Support in Private Discord Channel to solve queries and other issues.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="bootcamp-section section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <a href="/bootcamp/" class="btn btn-primary px-5 py-3" role="button">Back to All Bootcamps</a>
        </div>
      </div>
    </div>
  </section>
</div>
