.about-section {
  .profile-img {
    margin-top: 4rem;
  }
}

.role-content {
  box-shadow: 2px 2px 13px 5px rgba(216,216,216,0.78);
  margin-bottom: 1em;
  color: #777;
}
.role-content h4 {
  color: black;
}
.role-content p {
  font-size: 15px !important;
}
.role-card figure img {
  height: 80px;
}

.role-content .image-wrapper img {
  width: auto;
  box-shadow: none;
}

.role-content .role-desc {
  font-size: 14px;
}

.professional-journey {
  background: #F6FAFF;
}
// timeline
.timeline {
  position: relative;
  // max-width: 1200px;
  margin: 0 auto;
  list-style: none;

    /* The actual timeline (the vertical ruler) */
  &::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: $color-primary;
    top: 0;
    bottom: 0;
    left: 52%;
  }

  /* timeline-Container around content */
  .timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

    h5 {
      color: $color-primary;
      font-size: 22px;
    }
    .company-name {
      color: $color-secondary;
    }
  }

  /* The circles on the timeline */
  .timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -22px;
    background-color: $color-primary;
    border: 4px solid $color-primary;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the timeline-container to the left */
  .left {
    left: 0;
  }

  /* Place the timeline-container to the right */
  .right {
    left: 50.7%;
  }

  /* Add arrows to the left timeline-container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid $color-primary;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $color-primary;
  }

  /* Add arrows to the right timeline-container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid $color-primary;
    border-width: 10px 10px 10px 0;
    border-color: transparent $color-primary transparent transparent;
  }

  /* Fix the circle for timeline-containers on the right side */
  .right::after {
    left: -10px;
  }

  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0px #cfd0ff;
  }
}

.educational-journey {
  .container {
    max-width: 1100px;
  }
  .card {
    padding: 20px;
    border: none;
    line-height: 23px;
  }
  .card-img-top {
    height: 100px;
    width: auto;
    margin: auto;
  }
  .card-body {
    padding: .5em 1em;
  }
  .card-title {
    font-size: 18px;
    color: $color-primary;
  }
  .card-text {
    font-size: 16px;
    color: #555;
  }
  .institute-text {
    font-size: 15px;
    color: $color-secondary;
  }
}

@media (max-width: 550px) {
  .about-body {
    .profile-img {
      transform: scale(0.8);
      margin-top: 0;
    }

    .timeline {
      margin-left: -30px;

      &::after {
        left: 60px;
      }
      .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
      .timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
      .left::after {
        left: 18px;
      }
      .right::after {
        left: 23px;
      }
      .right {
        left: -1.5%;
      }
    }
  }
}
