#page-content {
  flex: 1 0 auto;
}
.btn.active:focus {
  box-shadow: none !important;
}
.bg-dark {
  background-color: #222;
}
.bg-white-shadow {
  background-color: #fff;
  box-shadow: 0 6px 22px 0 rgba(0,0,0,0.08);
}
.no-list-style {
  list-style: none;
}
.text-light-dark {
  color: #666;
}
.section-heading {
  font-family: "Kaisei Decol", serif;
  color: $color-primary;
  text-align: center;
  font-size: 3rem;
}
.section-subheading {
  text-align: center;
  color: #666;
}
.content-body-wrapper {
  margin-top: 3rem;
}
.page-section-heading {
  font-family: "Kaisei Decol", serif;
  color: $color-primary;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 32px;
  margin-bottom: 2rem !important;
}
.section-padding {
  padding: 6rem 0;
}
.all-view-btn {
  background: linear-gradient(180deg, #3B72D5 0%, #2058BB 100%);
  border-radius: 6px;
  color: #fff;
  border: 0;
  font-size: 18px;
  padding: 10px 22px;
}
.link-btn {
  background-color: #EDF3FF;
}

.navbar {
  // background-color: #003594;
  padding: 1rem;

  .brand {
    font-size: 2.5rem;
    color: #000;
    font-family: $font-secondary;
    font-weight: 800;
    line-height: 24px;

    img {
      height: 70px;
    }
  }
  .navbar-nav .nav-item {
    .dropdown {
      .dropdown-menu {
        border-color: $color-primary;

        .dropdown-item {
          color: $color-primary;
        }
      }
    }
    .nav-link {
      padding: 1rem 1rem 0.5rem 1rem;
      font-size: 15px;
      font-weight: 400;
      color: $color-primary;
    }
  }
  .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
    border-bottom: 1px solid $color-primary;
    color: $color-primary;
  }
  .navbar-toggler {
    border: 1px solid #fff;
    font-size: 20px;
    padding: 0.125rem 0.25rem;
  }
}

// Header SCSS
.home_header {
  .banner-section {
    padding: 4rem 0 1rem;
    background-color: #000;

    .banner-img-wrapper {
      .banner-img {
        transform: scale(0.7);
      }
    }

    .left-panel-wrapper {
      h4 {
        color: #777;
      }

      .banner-title {
        font-family: $font-secondary;
        font-size: 3.2rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        line-height: 60px;

        h3 {
          color: #ebebeb;
          font-size: 2.5rem;
          width: 90%;
        }
        .earning-color {
          color: #14B058;
        }
        .typed {
          color: #fff;
          font-size: 2.8rem;
        }
        .typed-cursor {
          color: #fff;
        }
      }
      .banner-description {
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: 300;
        color: #ebebeb;
        width: 90%;

        .highlight {
          color: $color-secondary;
        }
      }
      .services-wrapper {
        margin-top: 1rem;

        .service-list {
          list-style: none;
          padding-left: 0;
          margin-bottom: 0;

          .service-item {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.2rem;
            margin-right: 8px;
            color: #333;

            i {
              color: #14B058;
            }
          }
        }
      }
      .action-btns {
        margin-top: 2rem;
      }
    }
    .action-btns {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }
}

.home-body {
  .client-item {
    height: 10rem;
    transform: scale(0.8);

    img {
      height: 100%;
    }
  }

  .join-channel-section {
    // background: #F6FAFF;
    padding: 6rem 0 6rem;

    .container {
      max-width: 1000px;

      .wrapper {
        box-shadow: -2px -5px 33px rgba(221, 225, 233, 0.52), 14px 18px 61px -21px #B6BFCC;
        border-radius: 15px;

        .img-wrapper {
          height: 100%;
          padding: 0;

          .channel-img {
            height: 100%;
            width: 100%;
            border-radius: 15px 0 0 15px;
          }
        }

        .caption-wrapper {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          justify-content: center;
          height: 100%;
          width: 100%;
          color: $color-primary;
          padding: 3rem;

          h1 {
            color: $color-secondary;
            text-align: left;
          }
        }
      }
    }
  }

  .about-mentor-section {
    background-color: #F6FAFF;

    .about-mentor-wrapper {
      background: url($asset_url + "/img/about-bg.png") no-repeat center center/cover;
      height: 100%;
      padding: 4rem;
      border-radius: 15px;
    }
  }

  .stay-connected-section {
    background-color: $color-primary;
    color: #fff;

    .social-contacts {
      align-items: center;
      gap: 1.5rem;

      a i {
        font-size: 3rem;
      }
    }
  }

  .tutorials-section {
    background: #F6FAFF;

    h1 {
      font-family: "Kaisei Decol", serif;
      font-weight: 600;
    }
  }

  // self taught resources
  .self-taught-section {
    margin-top:  3rem;

    .container {
      max-width: 1100px;
    }
    .content-wrapper {
      border-radius: 18px;
      padding: 3rem 1rem;
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      align-items: center;
      justify-content: space-around;

      .caption-wrapper {
        display: flex;
        flex-direction: column;
      }
      .free-list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 1rem;

        .free-item {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 1.2rem;
          margin-right: 8px;
          color: #333;

          i {
            color: #000;
          }
        }
      }
    }
  }

  .free-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 1rem;

    .free-item {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1.2rem;
      margin-right: 8px;
      color: #333;

      i {
        color: #14B058;
      }
    }
  }
}

.community-events {
  .section-header {
    .caption {
      font-family: Helvetica, sans-serif;
    }
  }
  .event-card {
    .card-body {
      .event-date {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        font-size: 18px;
        padding: 8px 1rem;
        text-align: center;
        font-weight: 400;

        .date_day {
          display: flex;
          gap: 2rem;
        }
      }

      .event-details {
        padding: 1rem;

        .card-title {
          color: #666;
          font-size: 24px;
          font-weight: bold;
        }
      }
    }

    .card-footer {
      background-color: transparent;
      display: flex;
      gap: 8px;
      justify-content: space-between;
      padding: 0;
      border: 0;

      .venue {
        text-transform: uppercase;
        font-weight: 400;
        background-color: #222;
        color: #fff;
        padding: 3px 10px;
      }
    }
  }
}
.event-section {
  .event-wrapper {
    .event-details {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 2rem;

      h2 {
        font-family: $font-secondary;
        font-size: 3rem;
        margin-bottom: 0;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

#page-content main.home-body {
  margin: 0;
  padding-top: 0;
}

// footer css
.footer-section {
  background: #000;

  .footer-text {
    font-family: "Kaisei Decol", serif;
    font-size: 30px;
    color: #fff;
    line-height: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .footer-tagline {
    color: yellow;
    font-size: 13px;
    font-style: italic;
  }
  .footer-social {
    a {
      font-size: 18px;
    }
  }
}

// share page
.sidebar-share-page {
  h5 {
    font-size: 16px;
  }
  .badge {
    display: inline-block;
  }
  .twitter-share {
    background-color: #55acee;
  }
  .facebook-share {
    background-color: #3b5998;
  }
  .linkedin-share {
    background-color: #0077B5;
  }
  a {
    font-weight: 300;
  }
  .email-share {
    background-color: #999;

    &:hover {
      color: #fff;
    }

    svg {
      height: 12px;
    }
  }
}

.quote-highlight h1 {
  color: $color-primary;
  font-family: $font-secondary;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}

// common in courses page and home/course-section
.courses-wrapper {
  .course-card {
    border-radius: 0;

    .card-body {
      background-color: #fdfdfd;
      padding: 1.5rem 1.5rem 1rem 1.5rem;

      .card-title {
        color: #111;
        font-weight: 500;
        text-align: center;
      }
      .course-card-info {
        font-size: 14px;
        color: #666;
        font-weight: 500;
      }
      .course-modules {
        color: blue;
      }
      .coupon-code {
        text-align: center;
        span {
          font-size: 15px;
        }
      }
    }
  }
}

// common in tutorials page and home/tutorials-section
.tutorials-wrapper {
  .tutorial-card {
    background-color: transparent;
    margin-bottom: 1rem;

    .card-body {
      background-color: #EDF3FF;
      border-radius: 6px;
      height: 220px;
      padding: 2rem;
      border: 1px solid #d4e2ff;

      .card-title {
        font-size: 26px;
        line-height: 28px;
        font-weight: 500;
        color: $color-primary;
      }

      .tutorial-tags {
        .tag {
          background-color: #cfe2ff;
          border-radius: 6px;
          padding: 0 8px;
          color: $color-primary;
        }
      }
    }
  }
}

// useful links page
.links-page {
  padding: 4rem 0;

  .card-title {
    color: $color-primary;
  }
  .link-btn {
    color: $color-primary;
    text-align: left;
  }
}

// projects page
.projects-page {
  img {
    height: 10rem;
  }
}

// Self-taught learning resources
.self-taught-page {
  .banner {
    background-color: $color-primary;
    color: #fff;
    padding: 7rem 0 8rem;
    text-align: center;
    font-family: $font-secondary;

    .heading {
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 0;
    }
    .sub-heading {
      font-size: 1.8rem;
      font-weight: 300;
      color: #ddd;

      span {
        font-weight: 600;
      }
    }
  }
  .section-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .content-body-wrapper {
    .card {
      .card-title {
        color: #111;
      }
      .tutorial-duration {
        span {
          color: #333;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .mb-block {
    display: block;
  }
  .navbar {
    .navbar-toggler {
      border-color: $color-primary !important;
      padding: 0.5rem 0.8rem;

      .fa-bars {
        color: $color-primary;
      }
    }
    .brand {
      font-size: 1.5rem;
    }
  }
  .navbar-nav {
    margin-left: 0;
    .nav-link {
      text-align: center;
    }
  }
  .navbar {
    padding: 0.6rem 1rem;
  }
  .navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item:hover .nav-link {
    background-color: transparent;
    color: $color-primary;
    font-weight: 600;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0.8rem 1rem;
  }
}

@media screen and (max-width: 520px) {
  .section-padding {
    padding: 5rem 0;
  }
  .section-heading {
    font-size: 2.7rem
  }
  .home_body .bootcamp-section {
    .card {
      margin-bottom: 3rem;
    }
    .card:last-child {
      margin-bottom: 0;
    }
  }
  .home_header .banner-section {
    padding-top: 0;
    padding-bottom: 5rem;

    .container {
      max-width: 95%;
    }

    .left-panel-wrapper {
      .slogan {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      .banner-title {
        font-size: 2.5rem;
        line-height: 50px;
      }
      .banner-description {
        font-size: 1.5rem;
        width: 100%;
      }
      .services-wrapper {
        flex-direction: column;
        gap: 0;
      }
    }

    .banner-img-wrapper {
      margin-top: 1rem;
    }
    .action-btns {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
  .home-body {
    .section-heading {
      font-size: 2.5rem;
    }

    .stay-connected-section {
      padding: 4rem 0;
      text-align: center;

      .social-contacts {
        margin-top: 2rem;

        a i {
          font-size: 2rem;
        }
      }
    }
    .join-channel-section {
      .container {
        max-width: 90%;

        .wrapper {
          .img-wrapper {
            .channel-img {
              border-radius: 15px 15px 0 0;
            }
          }

          .caption-wrapper {
            padding: 2.8rem 2rem;
          }
        }
      }
    }
    .tutorials-section {
      .container {
        max-width: 94%;
      }
    }
    .courses-section {
      .container {
        max-width: 96%;
      }
    }
    .about-mentor-section {
      .container {
        max-width: 95%;
      }
      .about-mentor-wrapper {
        background: #EDF3FF;
        padding: 2rem;
      }
    }

    .courses-section {
      .courses-wrapper {
        .course-card {
          padding: 1rem !important;

          .course-card-img {
            height: 210px;
          }
        }
      }
    }

    .stay-connected-section {
      .social-contacts {
        gap: 1rem;

        a i {
          font-size: 1.5rem;
        }
      }
    }
  }
  .community-events .event-card {
    .card-body {
      .event-date {
        flex-wrap: wrap;
      }
    }
  }
  .event-section {
    .event-wrapper {
      .event-details {
        padding: 1rem;
      }
    }
  }
  .quote-highlight h1 {
    font-size: 2.5rem;
  }
  .tutorials-page .container {
    max-width: 93%;
  }
  .courses-page .container {
    max-width: 96%;
  }
  .tutorials-wrapper {
    .tutorial-card:last-child {
      margin-bottom: 0;
    }
  }
  .self-taught-page {
    .banner {
      padding: 4rem 0 5rem;

      .heading {
        font-size: 2.5rem;
      }
      .sub-heading {
        font-size: 1.3rem;
      }
    }
  }
}

.tutorial-body {
  #event-toc {
    margin-top: 1rem;
    padding: 1rem 0.8rem;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    border-radius: 5px;

    .md-nav__item {
      .md-nav {
        margin-bottom: 0;
      }
      .md-nav__link {
        color: #222;
        font-size: 18px;
      }

      .md-nav__link.nav-h2 {
        color: #555;
        font-size: 16px;
        padding: 2px 1px 2px 5px;
      }
    }
  }
  .tags {
    .badge {
      background-color: #333;
    }
  }
}
