#page-content {
  flex: 1 0 auto;
}
.section-padding {
  padding: 70px 0px;
}
.btn.active:focus {
  box-shadow: none !important;
}
.bg-dark {
  background-color: #222;
}
.bg-white-shadow {
  background-color: #fff;
  box-shadow: 0 6px 22px 0 rgba(0,0,0,0.08);
}
.no-list-style {
  list-style: none;
}
.text-light-dark {
  color: #666;
}

.navbar {
  // background-color: #003594;
  padding: 1rem;

  .brand {
    font-size: 1.6rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    line-height: 24px;

    img {
      height: 70px;
    }
  }
  .navbar-nav .nav-item .nav-link {
    padding: 1rem 1rem 0.5rem 1rem;
    font-size: 15px;
    font-weight: 400;
    color: $color-primary;
  }
  .navbar-nav .nav-item.active .nav-link,
    .navbar-nav .nav-item:hover .nav-link {
    // background-color: #1b64e7;
    border-bottom: 1px solid $color-primary;
    color: $color-primary;
  }
  .navbar-toggler {
    border: 1px solid #fff;
    font-size: 20px;
    padding: 0.125rem 0.25rem;
  }
}

// Header SCSS
.home_header {
  .banner-section {
    padding: 2rem 0 0 0;

    .left-panel-wrapper {
      margin-right: 3.5rem;

      h4 {
        color: #777;
      }
      .banner-title {
        font-family: 'Kaisei Decol', serif;
        font-size: 3.5rem;
        font-weight: 500;
        margin-bottom: 1.8rem;
        line-height: 50px;

        .h3 {
          color: #444;
        }
      }
      .banner-tagline {
        color: $color-secondary;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 0;
      }
      .banner-description {
        font-family: 'Kaisei Decol', serif;
        font-size: 3rem;
        font-weight: 500;
        color: #666;
        margin-top: 1rem;

        .highlight {
          color: $color-secondary;
        }
      }
      .services-wrapper {
        display: flex;
        gap: 2rem;

        .service-list {
          list-style: none;
          padding-left: 0;
          margin-bottom: 0;

          .service-item {
            font-size: 1.2rem;
            margin-right: 8px;
            color: #555;

            i {
              color: #14B058;
            }
          }
        }
      }
      .action-btns {
        margin-top: 2rem;
      }
    }
  }
}

.home-body {

  .section-heading {
    color: $color-primary;
    text-align: center;
    margin-bottom: 2rem !important;
    font-weight: 600;
    font-size: 3rem;
  }
  .section-padding {
    padding: 5rem 0;
  }
  .updates-section {
    .container {
      max-width: 1000px;

      .wrapper {
        box-shadow: -2px -5px 33px rgba(221, 225, 233, 0.52), 14px 18px 61px -21px #B6BFCC;
      }
    }
    .title {
      color: $color-secondary;
      text-align: center;
      padding: 2rem 0 0 0;
    }

    .news-content {
      list-style: none;
      padding-left: 1rem;

      .news-item {
        color: $color-primary;
        font-size: 18px;

        i {
          float: left;
          margin-top: 6px;
          color: $color-secondary;
        }
        span {
          display: block;
          margin-left: 1.6rem;
        }
      }
    }
    .update-card {
      margin-bottom: 1rem;

      p {
        font-size: 18px;
        padding: 10px 16px;
        line-height: 24px;
        color: $color-secondary;
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .about-mentor-section {
    .about-mentor-wrapper {
      background: url($asset_base_url + "/img/about-bg.png") no-repeat center center/cover;
      height: 100%;
      padding: 4rem;
      border-radius: 15px;
    }
  }

  // .learner-lifecycle-section {
  //   .lifecylce-card {
  //     border: 0;
  //     text-align: center;
  //     padding: 3rem;
  //     color: #555;

  //     .card-img-top {
  //       height: 180px;
  //     }
  //   }
  // }

  .stay-connected-section {
    background-color: $color-primary;
    color: #fff;

    .social-contacts {
      align-items: center;
      gap: 1.5rem;

      a i {
        font-size: 3rem;
      }
    }
  }

  .tutorials-section {
    background: #F8F8F8;
  }
}

#page-content main.home-body {
  margin: 0;
  padding-top: 0;
}

// footer css
.footer-section {
  background: linear-gradient(180deg, #142850 0%, #0b1a38 70%);

  .footer-text {
    font-size: 30px;
    color: #fff;
    line-height: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .footer-tagline {
    color: yellow;
    font-size: 13px;
    font-style: italic;
  }
  .footer-social {
    a {
      font-size: 18px;
    }
  }
}

// share page
.sidebar-share-page {
  h5 {
    font-size: 16px;
  }
  .badge {
    display: inline-block;
  }
  .twitter-share {
    background-color: #55acee;
  }
  .facebook-share {
    background-color: #3b5998;
  }
  .linkedin-share {
    background-color: #0077B5;
  }
  a {
    font-weight: 300;
  }
  .email-share {
    background-color: #999;

    &:hover {
      color: #fff;
    }

    svg {
      height: 12px;
    }
  }
}


// common in courses page and home/course-section
.courses-wrapper {
  .course-card {
    .course-card-img {
      height: 150px;
    }

    .card-body {
      .card-title {
        color: $color-primary;
        font-weight: 600;
      }
      .course-card-info {
        font-size: 14px;
        color: #666;
        font-weight: 500;
      }
    }
  }
}

// common in tutorials page and home/tutorials-section
.tutorials-wrapper {
  .tutorial-card {
    background-color: transparent;

    .card-body {
      background-color: #fff;
      border: 1px solid #eee;
      height: 10.5rem;

      .card-title {
        color: $color-primary;
        font-weight: 600;
      }

      .tutorial-card-info {
        font-size: 14px;
      }

      .tutorial-tags {
        .tag {
          background: #999;
          font-size: 13px;
          color: #fff;
          border-radius: 4px;
          padding: 1px 5px;
        }
      }
    }
  }
}

// projects page
.projects-page {
  img {
    height: 10rem;
  }
}

@media (max-width: 768px) {
  .mb-block {
    display: block;
  }
  .navbar {
    .navbar-toggler {
      border-color: $color-primary !important;
      padding: 0.5rem 0.8rem;

      .fa-bars {
        color: $color-primary;
      }
    }
    .brand {
      font-size: 1.5rem;
    }
  }
  .navbar-nav {
    margin-left: 0;

    .nav-item .nav-link {
      text-align: center;
    }
  }
  .navbar {
    padding: 0.6rem 1rem;
  }
  .navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item:hover .nav-link {
    background-color: transparent;
    color: #fff;
    font-weight: 600;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0.8rem 1rem;
  }
}

@media screen and (max-width: 520px) {
  .home_header .banner-section {
    padding-top: 1rem;

    .left-panel-wrapper {
      .banner-description {
        font-size: 2.5rem;
      }
      .services-wrapper {
        flex-direction: column;
        gap: 0;
      }
    }

    .banner-img-wrapper {
      margin-top: 3rem;
    }
  }
  .home-body {
    .section-heading {
      font-size: 2rem;
      font-weight: 600;
    }

    .stay-connected-section {
      padding: 4rem 0;
      text-align: center;

      .social-contacts {
        margin-top: 2rem;

        a i {
          font-size: 2rem;
        }
      }
    }

    .updates-section {
      .action-btn {
        margin-top: 2rem;
      }
    }

    .about-mentor-section {
      .about-mentor-wrapper {
        background: none;
        background-color: #e6f6fe;
        padding: 2rem;
      }
    }

    .courses-section {
      .courses-wrapper {
        .course-card {
          padding: 1rem !important;

          .course-card-img {
            height: 210px;
          }
        }
      }
    }

    .stay-connected-section {
      .social-contacts {
        gap: 1rem;

        a i {
          font-size: 1.5rem;
        }
      }
    }

    .tutorials-section {
      .tutorial-card {
        padding: 1rem !important;
      }
    }
  }
}
