.membership-page {
  .banner {
    background-color: $color-primary;
    color: #fff;
    padding: 9rem 0;
    text-align: center;
    font-family: $font-secondary;

    .heading {
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 0;
    }
    .sub-heading {
      font-size: 3rem;
      font-weight: 300;
      color: #EEFF26;

      span {
        font-weight: 600;
      }
    }
  }

  .pricing {
    .container {
      .col-md-3 {
        width: 30%;

        .card-img-wrapper {
          background-color: $color-primary;
          border-radius: 20px 20px 0 0;
          padding: 2.5rem;
          color: #fff;

          .caption {
            font-weight: 300;
            font-size: 2rem;
            line-height: 46px;
          }
          .sub-caption {
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 28px;
            color: $color-tertiary;
          }
          .right-arrow {
            text-align: right;

            i {
              display: block;
              margin-top: -10px;
              font-size: 3rem;
            }
          }
        }
        .bg-img {
          img {
            border-radius: 0 0 23px 23px;
          }
        }
        .card-member-wrapper {
          border-radius: 20px 20px 0 0;
          padding: 2.6rem 1.6rem 1.5rem 1.6rem;
          color: #444;

          .caption {
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 32px;
            color: $color-primary;
          }
          .sub-caption {
            color: #666;
            font-size: 20px;
            margin: 10px 0 10px 5px;
          }
          .features {
            list-style: none;
            padding-left: 5px;

            .feature-item {
              display: flex;
              gap: 8px;
              line-height: 24px;
              font-weight: 300;
              margin-bottom: 12px;

              i {
                display: inline-block;
                margin-top: 5px;
                font-size: 22px;
              }
              span {
                display: inline-block;
              }
            }
          }
          .dotted-line {
            border: 1px dashed #444;
            margin-top: 16px;
            margin-bottom: 28px;
          }
          .price {
            padding-left: 10px;
            .text {
              font-size: 1.3rem;
              color: #222;
              margin-bottom: 0;
            }
            .text-right {
              font-size: 1.3rem;
              color: $color-secondary;
            }
            p {
              font-size: 14px;
            }
          }
        }
        .recommendation {
          background-color: $color-primary;
          border-radius: 0 0 20px 20px;
          color: #fff;

          .text {
            display: flex;
            gap: 8px;
            font-size: 18px;
            font-weight: 400;
            padding: 1.2rem 1.8rem;

            i {
              display: inline-block;
              margin-top: 10px;
            }
            span {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .meet-mentors {
    padding: 1rem 0 6rem 0;

    .card-wrapper {
      padding: 4rem 4rem 3.5rem 4rem;
      border-radius: 20px;

      .section-heading {
        margin-bottom: 2.5rem;
      }

      .mentor-card {
        border: 0;
        padding: 1rem;

        .card-img-top {
          border-radius: 20px;
        }
        .card-body {
          text-align: center;
          margin-bottom: 0;
          padding: 1rem 0 0 0;

          .title {
            font-family: $font-secondary;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 0;
          }
          .nick {
            font-size: 15px;
            margin: 0;
          }
          .location {
            font-size: 15px;
            margin: -5px 0;
            color: $color-secondary;
          }
          .description {
            color: $color-primary;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .redefined-member {
    background-color: #F2F7FF;

    .section-subheading {
      font-size: 18px;
      color: $color-secondary;
      font-weight: 300;
    }
    .features {
      margin-top: 2rem;
      list-style: none;
      padding-left: 5px;
      color: $color-primary;

      .feature-item {
        display: flex;
        gap: 8px;
        line-height: 38px;
        font-weight: 400;
        font-size: 20px;

        i {
          display: inline-block;
          margin-top: 8px;
          margin-right: 8px;
          font-size: 22px;
        }
        span {
          display: inline-block;
        }
      }
    }
    .member-cert {
      margin-top: 3.5rem;
      border-radius: 10px;
    }
  }

  .community-weekly-calender {
    .note {
      background-color: $color-primary;
      padding: 2rem;
      font-size: 20px;
      color: #fff;
      border-radius: 15px;
      margin-top: 1.5rem;
      text-align: center;
    }
  }

  .community-live-session {
    background-color: #F2F7FF;

    .section-subheading {
      text-align: left;
      color: #999;
      font-size: 20px;
      font-weight: 300;
    }
    .features {
      margin-top: 2rem;
      list-style: none;
      padding-left: 1rem;
      color: $color-primary;

      .feature-item {
        display: flex;
        gap: 8px;
        line-height: 38px;
        font-weight: 400;
        font-size: 20px;

        i {
          display: inline-block;
          margin-top: 8px;
          margin-right: 8px;
          font-size: 22px;
        }
        span {
          display: inline-block;
        }
      }
    }
    .live-session-bg {
      padding: 2rem 2rem 0 2rem;
      transform: rotate(-4deg);
    }
  }

  .mentor-tech-support {
    .text-wrapper {
      padding-left: 5rem;
    }
    .section-subheading {
      text-align: left;
      color: #999;
      font-size: 20px;
      font-weight: 300;
    }
    .features {
      margin-top: 2rem;
      list-style: none;
      padding-left: 1rem;
      color: $color-primary;

      .feature-item {
        display: flex;
        gap: 8px;
        line-height: 38px;
        font-weight: 400;
        font-size: 20px;

        i {
          display: inline-block;
          margin-top: 8px;
          margin-right: 8px;
          font-size: 22px;
        }
        span {
          display: inline-block;
        }
      }
    }
    .live-session-bg {
      padding: 2rem 2rem 0 2rem;
      transform: rotate(-4deg);
    }
  }

  .join-community {
    padding-bottom: 7rem;

    .container {
      .content-wrapper {
        display: flex;
        gap: 3rem;
        max-width: 950px;
        margin: auto;
        padding: 4rem;
        border-radius: 20px;

        .img-wrapper {
          .community-img {
            height: 15rem;
            width: 25rem;
          }
        }
        .text-wrapper {
          .section-heading {
            text-align: left;
          }
          .section-subheading {
            color: #777;
            text-align: left;
          }
        }
        .action-btn {
          a {
            border-radius: 8px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .mb-block {
    display: block;
  }
  .mb-hide {
    display: none;
  }
  .membership-page {
    .banner {
      padding: 6rem 0;

      .heading {
        font-size: 1.5rem;
      }
      .sub-heading {
        font-size: 2rem;
      }
    }
    .pricing {
      padding-bottom: 2.5rem;

      .container {
        .col-md-3 {
          width: auto;
          margin-bottom: 3rem;
        }
      }
    }
    .meet-mentors {
      padding: 0;
      padding-bottom: 6rem;

      .card-wrapper {
        padding: 3rem 2rem;

        .mentor-card {
          margin-bottom: 1.5rem;
        }
      }
    }
    .redefined-member {
      .img-bg {
        transform: scale(0.8);
        margin-top: 0;
      }
    }
    .mentor-tech-support {
      .text-wrapper {
        padding-left: 1rem;
      }
    }
    .join-community {
      .container {
        .content-wrapper {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          padding: 4rem 3rem;

          .text-wrapper {
            .section-heading {
              text-align: center;
            }
            .section-subheading {
              text-align: center;
            }

            text-align: center;
          }
        }
      }
    }
  }
}
