.membership-banner {
  padding: 5rem 0;
  background-color: $color-primary;
  color: #fff;

  h1 {
    font-weight: 400;
  }
  span {
    color: yellow;
  }
}
.membership-page {
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    background: #fff;
    color: hsl(233, 13%, 49%);
    border-radius: 0.8rem;
  }

  .cards .card.active {
    background: linear-gradient(
      135deg,
      rgb(101, 111, 255) 0%,
      rgb(36, 45, 201) 100%
    );
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
  }
  ul {
    padding-left: 0;
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  ul li {
    color: $color-primary;
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
  }
  ul li.title {
    color: $color-secondary;
    font-size: 1.6rem;
    font-weight: 500;
  }
  ul li.price {
    font-size: 3rem;
    color: hsl(232, 13%, 33%);
    padding-bottom: 2rem;
  }

  .card.active .price {
    color: #fff;
  }
}

@media screen and (max-width: 520px) {
  .membership-page {
    .card {
      ul {
        margin: 1.8rem;
      }
    }
  }
}
