---
layout: default
title: About
permalink: /about/
page_name: about
---

<div class="about-page page-padding">
  <h1 class="section-heading">About Dhanu Sir</h1>
  <div class="container">
    <div class="row justify-content-center mt-2">
      <div class="col-md-8">
        <div class="section-header">
          <h3 class="text-dark fw-light my-4">
            <em>Dhanu Sir is an <b> IT Trainer, Career Coach and an Entrepreneur</b>.</em>
          </h3>
          <h5 class="text-dark fw-light my-4">
            His orginal name is Budh Ram Gurung. Dhanu is his nickname.
            <br><br>
            He is currently working as the Founder & CEO of <a href="https://c2e.dev">Code To Earn(c2e)</a> which
            aims to produce the best Software Engineering talents from Nepal.<br><br>
            He has also founded a group known as <a href="http://gorkha.dev">Gorkha Dev</a> with the mission to save this
            world from Bad Softwares.
          </h5>
        </div>
        <p class="para-caption">
          He has been teaching independently from 2019 and helping IT students in
          gaining skills needed for software development job.<br><br>
          Previously, he has worked as software developer ranging from <em>startups to MNC</em>
          and has around <strong>12+ Years of IT experience.</strong> <br><br>
          In his last job, he was working as a Mentor and Director of Training at
          <a href="https://cloudyuga.guru">CloudYuga Technologies</a> who is providing Cloud Native technology trainings.
          <br><br>
          He had profound knowledge on software development and went through different roles from <em>Quality Assurance,
          Full Stack Web Developer, DevOps Engineer and Team Lead.</em>
          <br><br>
          He is an Open-source enthusiasts and consider himself as the product of Open-source community.
        </p>
      </div>
      <div class="col-md-4">
        <img src="{{ site.asset_url }}/img/dhanu-trans.png" class="profile-img img-fluid rounded-circle shadow" alt="Profile">
        <h3 class="text-center fw-light mt-3 fs-4 text-secondary">Budh Ram Gurung<span class="text-sm d-block fs-6 text-danger">(Dhanu)</span></h3>
      </div>
    </div>
  </div>
</div>

<div class="professional-journey text-center section-padding">
  <div class="container">
    <h2 class="page-section-heading">Professional Journey</h2>
    <div class="col-sm-12 mt-4">
      {% include timeline.html %}
    </div>
  </div>
</div>

<div class="educational-journey section-padding">
  <div class="container">
    <div class="text-center">
      <h2 class="page-section-heading">Educational Journey</h2>
    </div>

    <div class="col-md-12">
      <div class="row">
        {% for info in site.data.about.education %}
          <div class="col-md-4">
            {% include education-outline.html data=info %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
