---
layout: default
title: About
permalink: /about/
page_name: about
---

<div class="about-page page-padding">
  <h1 class="section-heading">About Dhanu Sir</h1>
  <div class="container">
    <div class="row justify-content-center mt-2">
      <div class="col-md-8">
        <div class="section-header">
          <h3 class="text-dark fw-light my-4">
            Dhanu Sir is a Career Growth Coach, Digital Coach, IT Coach, Life Coach, and an Entrepreneur.
            <em>His orginal name is Budh Ram Gurung. Dhanu is his nickname.</em>
          </h3>
          <h5 class="mb-4 fw-light text-danger lh-base">
            <em>
              He is currently serving as a Director of Training and Placement in
              <a href="https://internsathi.com">Intern Sathi</a>, a platform which provides
              skilled and certified interns.
            </em>
          </h6>
        </div>
        <p class="para-caption">
          He is passionate about teaching and has started this platform to share his knowledge to the
          needy IT Students and Professionals.<br><br>
          He has been teaching independently from 2019 and helping IT students in
          gaining skills needed for software development job.<br><br>
          Previously, he has worked as software developer ranging from <em>startups to MNC</em>
          and has around <strong>11+ years of IT experience.</strong> <br><br>He had profound knowledge on
          software development and went through different roles from <em>Quality Assurance,
          Full Stack Web Developer, DevOps Engineer and Team Lead.</em><br><br>
          He is an <em>Open Source Advocate</em> and believes that Open Source helps to become a
          <em>Better Software Engineer.</em>
        </p>
      </div>
      <div class="col-md-3">
        <img src="{{ site.asset_base_url }}/img/profile.jpg" class="profile-img img-fluid rounded-circle shadow mb-3" alt="Profile">
        <h3 class="text-center fw-light fs-4 text-secondary">Budh Ram Gurung<span class="text-sm d-block fs-6 text-danger">(Dhanu)</span></h3>
      </div>
    </div>
  </div>
</div>

<div class="professional-journey text-center section-padding">
  <div class="container">
    <h2 class="page-section-heading">Professional Journey</h2>
    <div class="col-sm-12 mt-4">
      {% include timeline.html %}
    </div>
  </div>
</div>

<div class="educational-journey section-padding">
  <div class="container">
    <div class="text-center">
      <h2 class="page-section-heading">Educational Journey</h2>
    </div>

    <div class="col-md-12">
      <div class="row">
        {% for info in site.data.about.education %}
          <div class="col-md-4">
            {% include education-outline.html data=info %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
