---
layout: default
title: Courses
permalink: /courses/
page_name: courses
---

<!-- Courses list -->
<div class="courses-page page-padding">
  <h1 class="page-heading">Our Courses</h1>
  <p class="page-subheading">Gain quality technical skills from our Lab or Video based courses</p>

  <div class="content-body-wrapper">
    <div class="container">
      <div class="courses-wrapper row justify-content-center">
        {% for course in site.data.courses %}
          {% include course/course-card.html course=course %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
