---
layout: default
title: Membership
permalink: /membership/
page_name: membership
---

<div class="membership-page">

  <!-- banner -->
  <div class="banner">
    <div class="container">
      <h1 class="heading">
        Learning should be <span class="mb-block">FUN and FREE.</span>
      </h1>
      <h3 class="sub-heading">
        But <span>Quality learning</span> is <span>Premium.</span>
      </h3>
    </div>
  </div>

  <!-- pricing -->
  <div class="pricing section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 col-12">
          <div class="card-img-wrapper shadow-lg">
            <h1 class="caption">
              Boost your <span class="fw-bold">Knowledge, Career Growth and Success</span>
              with <span class="fw-bold">the Best membership</span> plan.
            </h1>
            <div class="right-arrow mb-hide">
              <i class="fa-solid fa-arrow-right text-white"></i>
            </div>
          </div>
          <div class="bg-img">
            <img src="{{ site.asset_base_url }}/img/membership-bg-img.jpg" class="img-fluid shadow" alt="Dhanu Sir Membership">
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card-member-wrapper shadow-lg">
            <h2 class="caption">
              <i class="fa-regular fa-user"></i> Community Member
            </h2>
            <div class="sub-caption">
              What You'll Get
            </div>
            <ul class="features">
              <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                <span class="feature-item-txt fw-semibold">
                  Discount Coupons worth Rs 2,000
                </span>
              </li>
              <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                Receive FREE Courses First
              </li>
              <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                Discount to PAID Courses, and Trainings
              </li>
              <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                Access to 2 Days Weekly LIVE Coding
              </li>
              <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                Access to Industry Expert LIVE Session
              </li>
              <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                Access to Private Community Channels
              </li>
            </ul>
            <hr class="dotted-line">
            <div class="price">
              <h4 class="text-right mb-0"><span class="fw-semibold">Rs 999 Only</span> / Year</h4>
              <p class="mb-0">(Launch Offer: less than Rs 85/month)</p>
              <h4 class="text"><del><span class="fw-semibold">Rs 1,999 Only</span> / Year</del></h4>
            </div>
          </div>
          <div class="recommendation">
            <h2 class="text">
              <i class="fa-solid fa-thumbs-up fa-xl me-2"></i>
              <span>Best plan to <strong>BOOST</strong> Knowledge.</span>
            </h2>
          </div>
        </div>
      </div>

      <div class="payment-action">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <a href="https://forms.gle/e4yfQ7MmC2yAyWCP9" class="btn btn-primary px-5 py-3">
              <span class="fs-4">Proceed to Pay <i class="fa-solid fa-share fa-xl"></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- mentors -->
  <div class="meet-mentors section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card-wrapper shadow-lg">
            <h1 class="section-heading">Meet Your Mentors</h1>
            <div class="row justify-content-center">
              <div class="col-md-4">
                <div class="card mentor-card">
                  <img src="{{ site.asset_base_url }}/img/mentors/dhanusir.jpg" class="card-img-top shadow" alt="Mentor Dhanu Sir">
                  <div class="card-body">
                    <h2 class="title">Budh Ram Gurung</h2>
                    <p class="nick">(Dhanu Sir)</p>
                    <p class="location">Kathmandu, Nepal</p>
                    <p class="description">
                      ~12 Years of IT Experience,
                      Mentor, IT Coach and Life Coach
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mentor-card">
                  <img src="{{ site.asset_base_url }}/img/mentors/vic.jpg" class="card-img-top shadow" alt="Mentor Dhanu Sir">
                  <div class="card-body">
                    <h2 class="title">Victor Goff</h2>
                    <p class="nick">(Vic)</p>
                    <p class="location">United States of America (USA)</p>
                    <p class="description">
                      40+ Years of Mentoring,
                      IT Support and Services.
                    </p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-4">
                <div class="card mentor-card">
                  <img src="{{ site.asset_base_url }}/img/mentors/mentor.jpg" class="card-img-top shadow" alt="Mentor Dhanu Sir">
                  <div class="card-body">
                    <h2 class="title">Your Name</h2>
                    <p class="nick">(Your Nick)</p>
                    <a href="#" class="btn btn-primary py-3 px-3">
                      Join Us as Mentor
                    </a>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- redefined member -->
  <div class="redefined-member section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h3 class="section-subheading text-start mb-0">
            So, you want to maximize your chance of getting JOB? Join
          </h3>
          <h1 class="section-heading text-start">
            Developer Redefining Program
          </h1>
          <p class="mb-0 fw-semibold text-secondary">
            Program Investment Amount: Rs 4,999 Only
          </p>
          <ul class="features">
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              <span class="feature-item-txt">
                4 Weeks Growth Mindset Program (2 Days / Week)
              </span>
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              <span class="feature-item-txt">
                Learn from Private Recorded Sessions
              </span>
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Get Mentor Tech Support
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Pair Programming with Mentor
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Build Developer Portfolio Website
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Learn to Gain Warrior Attitude
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Attain Positive Team Player Habits
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Industry Focused Mindset Development
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Weekly Progress Tracking
            </li>
          </ul>
        </div>

        <div class="col-md-5">
          <img src="{{ site.asset_base_url }}/img/certs/redefined-cert.jpg"
            class="img-fluid member-cert shadow-lg" alt="Dhanu Sir Redefined Developer">
        </div>
      </div>
    </div>
  </div>

  <!-- community weekly calender -->
  <div class="community-weekly-calender section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <img src="{{ site.asset_base_url }}/img/community-calender.jpg"
            class="img-fluid" alt="Dhanu Sir Community Calender">
        </div>
      </div>
    </div>
  </div>

  <!-- community live session -->
  <div class="community-live-session section-padding">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <h1 class="section-heading text-start">Community LIVE Sessions</h1>
          <h4 class="section-subheading">
            Learn at least <strong>Two Days weekly</strong> from the Community LIVE Sessions.
          </h4>
          <ul class="features">
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              <span class="feature-item-txt">
                LIVE Coding Session
              </span>
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              <span class="feature-item-txt">
                LIVE Q and A Session
              </span>
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Coding Challenges Event
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Soft Skills Training
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Community Tech Talks
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="{{ site.asset_base_url }}/img/live-session-bg.jpg"
            class="img-fluid live-session-bg" alt="Community Live Session">
        </div>
      </div>
    </div>
  </div>

  <!-- mentor tech support -->
  <div class="mentor-tech-support section-padding">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          {% include util/embed-youtube.html id="LXQ6-Z2slZw" %}
        </div>
        <div class="col-md-6 text-wrapper">
          <h1 class="section-heading text-start">Mentor Tech Support</h1>
          <h4 class="section-subheading">
            Get quick LIVE support from mentor on problems where you stuck.
            Learn something new in the process.
          </h4>
          <ul class="features">
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              <span class="feature-item-txt">
                One of the BEST learning method
              </span>
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              <span class="feature-item-txt">
                On the spot LIVE support
              </span>
            </li>
            <li class="feature-item">
              <i class="fa-solid fa-check"></i>
              Chance to learn the style and attitude of mentor
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- free courses -->
  <div class="courses-section section-padding">
    <h1 class="section-heading mb-4">Check our FREE Courses</h1>
    <div class="container">
      <div class="courses-wrapper row justify-content-center">
        {% for course in site.data.courses %}
          {% include course/course-card.html course=course %}
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- join community -->
  <div class="join-community">
    <div class="container">
      <div class="content-wrapper shadow-lg">
        <div class="img-wrapper">
          <img src="{{ site.asset_base_url }}/img/discord-community.jpg"
            class="community-img img-fluid" alt="Dhanu Sir Discord Community">
        </div>
        <div class="text-wrapper">
          <h1 class="section-heading">JOIN Our Community</h1>
          <p class="section-subheading">
            Get access to our community where you can grow fast.
            Meet with your fellow learners and grow together.
          </p>
          <div class="action-btn">
            <a href="https://discord.gg/mGsNsdm6Sp" target="_blank"
              class="btn btn-sm px-4 py-3 btn-outline-primary">Click to Join FREE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
