---
layout: default
title: Our Missions
permalink: /missions/
page_name: missions
---

<!-- projects list -->
<div class="missions-page page-padding">
  <h1 class="page-heading">Our Missions</h1>

  <div class="content-body-wrapper">
    <div class="container">
      <div class="row missions-wrapper justify-content-center">
        {% assign missions = site.missions | where: "mission", true | reverse %}
        {% for mission in missions %}
          {% include mission-card.html mission=mission %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include home/stay-connected.html %}
