---
layout: default
title: Projects
permalink: /projects/
page_name: projects
---

<!-- projects list -->
<div class="projects-page page-padding">
  <h1 class="text-center mb-4">Learn by building Projects</h1>

  <div class="container">
    <div class="row courses-wrapper justify-content-center">
      {% assign projects = site.projects | where: "projects", true | reverse %}
      {% for project in projects %}
        {% include course/course-card.html course=project type="project" %}
      {% endfor %}
    </div>
  </div>
</div>
