---
layout: default
title: Self-taught Resources
permalink: /self/
page_name: self
---

<!-- Tutorials list -->
<div class="self-taught-page">
  <!-- banner -->
  <div class="banner">
    <div class="container">
      <h1 class="heading">
        Learning should be FREE.
      </h1>
      <h3 class="sub-heading">
        Our hands-on based resources will help you gain the skills in an effective way.
      </h3>
    </div>
  </div>

  <!-- tutorials -->
  <div class="section-padding">
    <div class="container">
      <div class="section-header">
        <h1 class="section-heading">Learn from Hands-on Tutorials</h1>
        <div class="action-wrapper">
          <a href="/tutorials/" class="btn btn-primary py-2 px-4 d-none d-sm-block">View All</a>
        </div>
      </div>
    </div>

    <div class="content-body-wrapper">
      <div class="container">
        <div class="row tutorials-wrapper">
          {% assign tutorials = site.tutorials | reverse %}
          {% for tutorial in tutorials limit: 4 %}
            {% include tutorial/tutorial-card.html tutorial=tutorial %}
          {% endfor %}
        </div>
        <div class="row justify-content-center">
          <div class="action-wrapper mt-3">
            <a href="/tutorials/" class="btn btn-primary py-2 px-4 d-sm-none">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- hands on workshops -->
  <div class="section-padding pt-0">
    <div class="container">
      <div class="section-header">
        <h1 class="section-heading">Learn from Hands-on Workshops</h1>
        <div class="action-wrapper">
          <a href="/workshops/" class="btn btn-dark py-2 px-4 d-none d-sm-block">View All</a>
        </div>
      </div>
    </div>

    <div class="content-body-wrapper">
      <div class="container">
        <div class="row tutorials-wrapper">
          {% assign workshops = site.workshops | where: "workshops", true | reverse %}
        {% for workshop in workshops %}
          {% include course/course-card.html course=workshop type="project" %}
        {% endfor %}
        </div>
        <div class="row justify-content-center">
          <div class="action-wrapper mt-3">
            <a href="/workshops/" class="btn btn-dark py-2 px-4 d-sm-none">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- courses -->
  <div class="section-padding pt-0">
    <div class="container">
      <div class="section-header">
        <h1 class="section-heading">Learn from Courses</h1>
        <div class="action-wrapper">
          <a href="/courses/" class="btn btn-dark py-2 px-4 d-none d-sm-block">View All</a>
        </div>
      </div>
    </div>

    <div class="content-body-wrapper">
      <div class="container">
        <div class="row tutorials-wrapper">
          {% assign courses = site.data.courses %}
          {% for course in courses limit: 4 %}
            {% include course/course-card.html course=course %}
          {% endfor %}
        </div>
        <div class="row justify-content-center">
          <div class="action-wrapper mt-3">
            <a href="/courses/" class="btn btn-dark py-2 px-4 d-sm-none">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
