---
layout: default
title: Workshops
permalink: /workshops/
page_name: workshops
---

<!-- workshops list -->
<div class="workshops-page page-padding">
  <h1 class="page-heading">Hands-on Workshops</h1>

  <div class="content-body-wrapper">
    <div class="container">
      <div class="row workshops-wrapper justify-content-center">
        {% assign workshops = site.workshops | where: "workshops", true | reverse %}
        {% for workshop in workshops %}
          {% include workshop-card.html workshop=workshop %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
