---
layout: default
title: Workshops
permalink: /workshops/
page_name: workshops
---

<!-- workshops list -->
<div class="projects-page page-padding">
  <h1 class="text-center mb-4">Hands-on Workshops</h1>

  <div class="container">
    <div class="row courses-wrapper justify-content-center">
      {% assign workshops = site.workshops | where: "workshops", true | reverse %}
      {% for workshop in workshops %}
        {% include course/course-card.html course=workshop type="project" %}
      {% endfor %}
    </div>
  </div>
</div>
