<div class="about-mentor-section section-padding">
  <h1 class="section-heading">About Dhanu</h1>

  <div class="content-body-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="about-mentor-wrapper shadow">
            <div class="row">
              <div class="col-md-8">
                <h4 class="color-primary fw-light mt-0">
                  Dhanu Sir is a Career Growth Coach, IT Coach, Life Coach, and an Entrepreneur.
                </h4>
                <h5 class="text-dark fw-light my-4">
                  Currently, he is working as a <em>Mentor and Director of Training</em> at
                  <a href="https://cloudyuga.guru">CloudYuga Technologies</a> who is providing
                  Cloud technology trainings related to Cloud Native.
                </h5>
                <div class="para-caption mb-0">
                  He has been teaching independently from 2019 and helping students in
                  developing skills required for IT industry job.<br>
                  <a href="/about/"><span class="color-primary text-decoration-underline">Read More</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
