<div class="about-mentor-section section-padding">
  <h1 class="section-heading">About Dhanu</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about-mentor-wrapper shadow">
          <div class="row">
            <div class="col-md-8">
              <h4 class="color-primary fw-light mt-0">
                Dhanu Sir is a Career Growth Coach, Digital Coach, IT Coach, Life Coach, and an Entrepreneur.
              </h4>
              <p class="para-caption mb-0">
                He has been teaching independently from 2019 and helping students in
                developing skills required for IT industry job.<br>
                Previously, he has worked as software developer ranging from
                <span class="color-secondary"><em>startups to MNC</em></span>
                and has around <span class="color-secondary"><em>11+ years of IT experience</em></span>.<br>
                He had profound knowledge on ...
                <a href="/about/"><span class="color-primary text-decoration-underline">Read More</span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
