<div class="about-mentor-section section-padding">
  <h1 class="section-heading">About Dhanu</h1>

  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="about-mentor-wrapper shadow">
          <div class="row">
            <div class="col-md-8">
              <h4 class="color-primary fw-light mt-0">
                Dhanu Sir is an IT Coach and an Entrepreneur.
              </h4>
              <h5 class="text-dark fw-light my-4">
                He is currently working as the Founder & CEO of <a href="https://c2e.dev">Code To Earn(c2e)</a> which
                aims to produce the best Software Engineering talents from Nepal.
              </h5>
              <div class="para-caption mb-0">
                He has been teaching independently from 2019 and helping students in
                developing skills required for IT industry job.<br>
                <a href="/about/"><span class="color-primary text-decoration-underline">Read More</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
