<!-- banner -->
<div class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="d-flex flex-column justify-content-center left-panel-wrapper h-100">
          <h1 class="banner-title color-primary">
            <span class="h3">Learn from </span><span class="mb-block"></span>{{ site.title }}
          </h1>
          {% if site.tagline %}
            <h5 class="banner-tagline">11+ Years of IT Experience</h5>
            <p class="mb-0">On a mission to create 1,00,000 Software Engineers.</p>
          {% endif %}
          <h5 class="banner-description">
            Helping IT Students and Professionals in their <span class="highlight">Career Growth</span>
          </h5>
          <div class="action-btns">
            <a href="/#courses" class="btn btn-sm px-3 btn-outline-danger rounded-0">Courses</a>
            <a href="/#tutorials" class="btn btn-sm px-3 btn-outline-primary rounded-0 ms-1">Tutorials</a>
            <!-- <a href="/#projects" class="btn btn-sm btn-outline-secondary">Projects</a> -->
          </div>
          <!-- <div class="join-action mt-3">
            <a href="/join" class="btn btn-primary px-4">Join to grow with us!</a>
          </div> -->
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="d-flex flex-column justify-content-center banner-img-wrapper">
          <img src="{{ site.asset_base_url }}/img/banner-img.jpg" alt="TECH Setu" class="rounded-0" />
        </div>
      </div>
    </div>
  </div>
</div>
