<div class="membership">
  <div class="pricing section-padding">
    <h1 class="section-heading mb-5 px-4">Connect to the Mentor</h1>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 col-12">
          <div class="card-img-wrapper shadow-lg">
            <h1 class="caption">
              Boost your <span class="fw-bold">Knowledge, Career Growth and Success</span>
              with <span class="fw-bold">the Best membership</span> plan.
            </h1>
            <div class="right-arrow mb-hide">
              <i class="fa-solid fa-arrow-right text-white"></i>
            </div>
          </div>
          <div class="bg-img">
            <img src="{{ site.asset_url }}/img/membership-bg-img.jpg" class="img-fluid shadow" alt="Dhanu Sir Membership">
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="card-member-wrapper shadow-lg">
            <h2 class="caption">
              <i class="fa-regular fa-user"></i> Community Member
            </h2>
            <div class="sub-caption">
              What You'll Get
            </div>
            <ul class="features">
              <!-- <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                <span class="feature-item-txt fw-semibold">
                  Discount Coupons worth Rs 2,000
                </span>
              </li> -->
              <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                Receive FREE Courses First
              </li>
              <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                Discount to PAID Courses, and Trainings
              </li>
              <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                Access to 2 Days Weekly LIVE Coding
              </li>
              <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                Access to Industry Expert LIVE Session
              </li>
              <li class="feature-item">
                <i class="fa-solid fa-circle-check"></i>
                Access to Private Community Channels
              </li>
            </ul>
            <hr class="dotted-line">
            <div class="price">
              <h4 class="text-right mb-0"><span class="fw-semibold">Rs 999 Only</span> / Year</h4>
              <p class="mb-0">(Launch Offer: less than Rs 85/month)</p>
              <h4 class="text"><del><span class="fw-semibold">Rs 1,999 Only</span> / Year</del></h4>
            </div>
          </div>
          <div class="recommendation">
            <h2 class="text">
              <i class="fa-solid fa-thumbs-up fa-xl me-2"></i>
              <span>Best plan to <strong>BOOST</strong> Knowledge.</span>
            </h2>
          </div>
        </div>
      </div>

      <div class="payment-action">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <a href="/membership" class="btn btn-primary px-5 py-3">
              <span class="fs-4">Click here to Know More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
