<div class="join-channel-section section-paddin">
  <div class="container">
    <div class="row wrapper">
      <div class="col-md-4 img-wrapper">
        <img src="{{ site.asset_url }}/img/telegram-channel.png" class="channel-img" alt="Dhanu Sir Channel">
      </div>
      <div class="col-md-8">
        <div class="caption-wrapper">
          <h1 class="mb-0">Subscribe Channel</h1>
          <p class="mb-0">
            Get updates about Career Growth Tips and Tricks,
            Learning materials like Cheatsheets, Courses, Tutorials,
            and get notified for PAID Courses and Workshops.
          </p>
          <div class="action-btn">
            <a href="/subscribe" class="btn btn-sm px-5 py-2 btn-outline-danger">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
