<div class="learner-lifecycle-section section-padding">
  <h1 class="section-heading">Our Learner Life Cycle</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6">
        <div class="card lifecylce-card">
          <img class="card-img-top" src="{{ site.asset_url }}/img/attendee.png" alt="Tech Setu Attendee">
          <div class="card-body">
            <h5 class="card-title">
              Volunteer<br>or<br>Attendee
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="card lifecylce-card">
          <img class="card-img-top" src="{{ site.asset_url }}/img/member.png" alt="Tech Setu Attendee">
          <div class="card-body">
            <h5 class="card-title">
              Member<br>or<br>Contributor
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="card lifecylce-card">
          <img class="card-img-top" src="{{ site.asset_url }}/img/executive.png" alt="Tech Setu Attendee">
          <div class="card-body">
            <h5 class="card-title">
              Executive<br>or<br>Maintainer
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="card lifecylce-card">
          <img class="card-img-top" src="{{ site.asset_url }}/img/leader.png" alt="Tech Setu Attendee">
          <div class="card-body">
            <h5 class="card-title">
              Leader<br>or<br>Mentor
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
