<section class="my-clients section-padding pt-5">
  <h1 class="section-heading">Artists I am helping</h1>
  <p class="section-subheading">
    Helping in digital marketing, branding and providing technical mentoring.
  </p>

  <div class="container">
    <div class="row justify-content-center text-center">
      {% for client in site.data.client.aritsts %}
        <div class="col-md-2 col-6">
          {% include home/client-card.html client=client %}
        </div>
      {% endfor %}
    </div>
  </div>

  <h1 class="section-heading">Software Engineers I am helping</h1>
  <p class="section-subheading">
    Helping in digital marketing, branding and providing technical mentoring.
  </p>

  <div class="container">
    <div class="row justify-content-center text-center">
      {% for client in site.data.client.aritsts %}
        <div class="col-md-2 col-6">
          {% include home/client-card.html client=client %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
