<div class="self-taught-section section-padding pt-0">
  <div class="container">
    <div class="content-wrapper">
      <div class="col-md-4 img-wrapper">
        <img src="{{ site.asset_url }}/img/free-resources.png" class="channel-img img-fluid" alt="Free resources">
      </div>
      <div class="col-md-6 h-100">
        <div class="caption-wrapper align-items center">
          <h2 class="mb-0">Self-taught FREE Resources</h2>
          <p class="mb-0">
            We believe that the self-taught learning approach is the best way to learn coding skills.
          </p>
          <ul class="free-list">
            <li class="free-item">
              <i class="fa-solid fa-check"></i>
              <span>Hands-on Tutorials</span>
            </li>
            <li class="free-item">
              <i class="fa-solid fa-check"></i>
              <span>Hands-on Workshops</span>
            </li>
            <li class="free-item">
              <i class="fa-solid fa-check"></i>
              <span>Practical based Courses</span>
            </li>
          </ul>
          <div class="action-btn mt-3">
            <a href="/self" class="btn btn-sm px-4 py-1 btn-outline-dark fs-5 rounded-0">
              Learn
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
