<div class="tutorials-section section-padding">
  <h1 class="section-heading">Learn from Our Tutorials</h1>

  <div class="container">
    <div class="row tutorials-wrapper justify-content-center">
      {% assign tutorials = site.tutorials | reverse %}
      {% for tutorial in tutorials limit: 6 %}
        {% include tutorial/tutorial-card.html tutorial=tutorial %}
      {% endfor %}
    </div>

    <div class="row tutorial-btns-wrapper justify-content-center mt-4">
      <div class="col-md-3">
        <a href="/tutorials/" class="btn btn-primary px-5 py-2">View All Tutorials</a>
      </div>
      <!-- <div class="col-md-2">
        <a href="" class="btn btn-outline-danger px-4 py-2">Contribute</a>
      </div> -->
    </div>
  </div>
</div>
