{% assign update_size = site.data.updates.size %}
<div class="updates-section section-padding">
  <h1 class="section-heading text-white">News or Updates</h1>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        {% if update_size > 0 %}
          {% for update in site.data.updates %}
            <div class="card update-card rounded-2">
              {{ update.text | markdownify }}
            </div>
          {% endfor %}
        {% else %}
          <div class="card update-card rounded-2">
            <p>No updates.</p>
          </div>
        {% endif %}
      </div>
      <!-- {% if update_size > 3 %}
        <div class="col-md-4 action-btn">
          <div class="d-flex justify-content-center align-items-center h-100">
            <a href="#" type="button" class="btn btn-danger btn-lg py-4 px-5">Check All Updates</a>
          </div>
        </div>
      {% endif %} -->
    </div>
  </div>
</div>
