{% assign update_size = site.data.updates.size %}
<div class="updates-section section-padding">
  <div class="container">
    <div class="wrapper rounded-4">
      <h1 class="title">News Or Updates</h1>
      <div class="row justify-content-center pb-4">
        <div class="col-md-11">
          <ul class="news-content">
            {% if update_size > 0 %}
            {% for update in site.data.updates %}
            <li class="news-item">
              <i class="fa-solid fa-circle-info"></i>
              <span>{{ update.text }}</span>
            </li>
            {% endfor %}
            {% else %}
            <li class="">
              Stay Tuned ...
            </li>
            {% endif %}
          </ul>
        </div>
        <!-- {% if update_size > 3 %}
          <div class="col-md-4 action-btn">
            <div class="d-flex justify-content-center align-items-center h-100">
              <a href="#" type="button" class="btn btn-danger btn-lg py-4 px-5">Check All Updates</a>
            </div>
          </div>
        {% endif %} -->
      </div>
    </div>
  </div>
</div>
