<div class="admonition question">
  <p class="admonition-title">
    {% if include.item.question %}
      <i class="fa-solid fa-circle-question fa-xl color-primary me-2"></i>
      <span class="color-primary fs-5">{{ include.item.question | escape }}</span>
    {% else %}
      Question {{ include.count }}
    {% endif %}
  </p>
  {% if include.item.items.size > 0 %}
    <p>
      {% for choice in include.item.items %}
        {% if choice.correct == true %}
          <span class="correct-{{ include.count }}">
        {% endif %}
        {{ forloop.index }}. {{ choice.choice | escape }}
        {% if choice.correct == true %}
          </span>
        {% endif %}
        <br>
      {% endfor %}
    </p>
  {% endif %}
</div>
<div class="mb-4">
  <button class="btn btn-success rounded-0 mb-2 d-block" onclick='$(".correct-{{ include.count }}").css("font-weight", 600).css("color", "blue");
    $(".correct-more-{{ include.count }}").css("display", "block")'>Verify Answer
  </button>
  {% if include.item.followup %}
    <p class="well border border-danger p-2 correct-more-{{ include.count }}" style="display:none; line-height: 28px;">{{ include.item.followup | escape }}</p>
  {% endif %}
</div>
